<div class="container-fluid p-3 footer">
    <div class="row m-5">
        <div class="col-md-6 col-12">
            <h4 class="mt-4">Start Using MakeItShort today.</h4>
            <a class="btn btn-lg mt-3 btn-signup" href="/dashboard">Start Creating Now</a>
        </div>
        <div class="col-md-3 col-6 mt-md-0 mt-5">
            <p>About</p>
            <p>Features</p>
            <p>SignUp</p>
        </div>
        <div class="col-md-3 col-6 mt-md-0 mt-5">
            <p>Terms and Conditions</p>
            <p>Privacy Policy</p>
            <p>Cookie Policy</p>
        </div>
    </div>
</div>